<div class='jumbo'>
  
  <div class="jumbo-text">
    <h2>Welcome to Super Rentals!</h2>
     <LinkTo @route="about"><button type="button" class="btn btn-primary">About Us</button></LinkTo>
  </div>

  <div class='right tomster'></div>

</div>